/* You can add global styles to this file, and also import other style files */
html
{
    min-height: 100vh;
    width: 100%;
    background-image: url(https://hurrey-descriptive-ai-demo.web.app/background.12a59d8f01347080.svg);
    background-color: #141923;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}
input[type=text] {
    background: rgba(217,217,217,.2);
    height: 45px;
    width: 300px;
    padding-left: 10px;
    border-radius: 10px;
    background: linear-gradient(#141923,#141923) padding-box,linear-gradient(to right,#7b72cc,#dc0078,#3871d6) border-box;
    border: 2px solid transparent;
}
input[type="text"]:focus {
	background: rgba(217,217,217,.2);
    height: 45px;
    width: 300px;
    padding-left: 10px;
    border-radius: 10px;
    background: linear-gradient(#141923,#141923) padding-box,linear-gradient(to right,#7b72cc,#dc0078,#3871d6) border-box;
    border: 2px solid transparent;
    outline: none;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
